*{
padding:0;
margin:0;
}
body {
    display:flex;
    margin:0;
    background-color:#2c2c2c;
    font-family:Arial,sans-serif;
  }
  .clkcontainer{
    display:flex;
    margin:0;
    background-color:#2c2c2c;
    font-family:Arial,sans-serif;
    width:50vw;
    height:70vh;
  }
  .clock{
    color:rgb(148, 148, 148);
    font-size:5rem;
   margin-left:120px;
    margin-top:120px;
    position: absolute;
  }
  .clock:hover{
    font-size:5.5rem;
  }
  .date{
    color:antiquewhite;
    text-align:center;
    justify-content:center;
    align-self: center;
    position:fixed;
    margin-left:130px;
  }
  .day{
    color:antiquewhite;
    text-align:center;
    justify-content:center;
    align-self: center;
    position:fixed;
    margin-top:60px;
    margin-left:150px;
    font-size:30px;
    font-weight:400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .day:hover{
    font-size:35px; 
  }
  #btn{
    width:190px;
    height:110px;
    position:relative;
    border:none;
     left:900px;
     top:200px;
     border-radius:50px;
     box-shadow:0 0 10px rgb(160, 160, 160);
     color:black;
     font-size: 30px;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:rgba(201, 201, 201, 0.847);
    }
    #btn:hover{
      background:whitesmoke;
    }
  #btn2{
    width:190px;
    height:110px;
    position:relative;
    border:none;
    left:500px;
    top:400px;
    border-radius:50px;
    box-shadow:0 0 10px rgb(160, 160, 160);
    color:black;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:rgba(201, 201, 201, 0.847);
  }
  #btn2:hover{
    background:whitesmoke;
  }
#ampm{
  color:antiquewhite;
    text-align:center;
    justify-content:center;
    align-self: center;
    position:fixed;
    margin-top:-210px;
    margin-left:440px;
    font-size:30px;
    font-weight:400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:block
}
#ampm:hover{
  font-size:40px;
}
.greet{
  height:40px;
  margin-top:600px;
  font-size:40px;
  float:left;

color:antiquewhite;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}