.head{
text-align:center;
text-shadow:2px 2px 7px rgb(10, 10, 10);
color:white;

}
.placeinput{
  max-width:400px;   
    background:linear-gradient(to right,rgb(102, 146, 199),rgb(30, 94, 134));
   padding:10px;
   margin:50px auto 0;
   border-radius:50px;
   align-items:center;
   justify-content:space-between;
}
.placeinput input{
    border:0;
    outline:0;
     display:flex;
    flex: 1;
padding:10px 25px;
    margin-right:16px;
    cursor:pointer;
     border-radius:30px;
     width:300px;
    
      height:30px;
     background:rgb(246, 241, 241);
     
     font-size:18px;
}

.placeinput button{
    border:0;
    outline:0;
    float:right;
    border-radius:100%; 
    display:flex; 
    height:50px;
    width:50px;
    background:rgb(68, 119, 155);
       cursor:pointer;
}
body{
    height:700px;
    width:100%;
    background:url('backgrd.jpg');
    
}
.container2{
    padding:50px;
    margin:0;
 }
 .container3{
    padding:70px;
    margin:0;
    text-align:center;
    justify-content:center;
    display:flex;
 }
.temperature{
    color:rgb(255, 255, 255);
    text-shadow:0 0 3px black;
    font-style:bold;
    font:30px;
}
.place{
    color:rgb(255, 255, 255);
    text-shadow:0 0 3px black;
    font-style:bold;
    font:30px;
}
.condition{
    color:rgb(255, 255, 255);
    text-shadow:0 0 3px black;
    font-style:bold;
    font:30px;
}
.error{
    margin-top:10px;
    margin-left:10px;
    text-align:center;
      font-size:15px;
    display:none;
    color:white;
}
.currweather{
    background:linear-gradient(to right,rgb(127, 194, 241),rgb(6, 76, 114));
    border-radius:15px;
width:100%;
height:100%;
box-shadow: 0 0 20px rgb(79, 79, 79);
}
.tempmaxmin{
    color:rgb(255, 255, 255);
    text-shadow:0 0 3px black;
    font-style:bold;
    font:30px;
}
.humidity{
    color:rgb(255, 255, 255);
    text-shadow:0 0 3px black;
    font-style:bold;
    font:30px;
}
#inp{
    box-shadow:0 0 20px rgb(65, 65, 65);
}
.extra{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(3,1fr);
   gap:30px;
}
.extcont{
    height:200px;
    width:200px;
   align-items:center;
   align-self:center;
   justify-content: center;
   text-align:center;
   justify-self:center;
   border-radius:60px;
   color:rgb(247, 247, 247);
   font-size:25px;
   background:linear-gradient(to right,rgb(102, 146, 199),rgb(30, 94, 134));
   background-size: 200px 200px;
}
#a1{
    background:linear-gradient(to right,rgb(102, 146, 199),rgb(30, 94, 134));
}
#a2{
    background:linear-gradient(to right,rgb(102, 146, 199),rgb(30, 94, 134));
}
#a3{
    background:linear-gradient(to right,rgb(102, 146, 199),rgb(30, 94, 134));
}
#a4{
    background:linear-gradient(to right,rgb(102, 146, 199),rgb(30, 94, 134));
}
#a5{
      background:linear-gradient(to right,rgb(102, 146, 199),rgb(30, 94, 134));
}
#a6{
    background:linear-gradient(to right,rgb(102, 146, 199),rgb(30, 94, 134));
}
